<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Bootstrap</title>

</head>

<body>
    <div class="bg-img2"></div>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark a-color a">
            <ul class="navbar-nav nawigacja">
                <li class="nav-item oddziałka-nawigacji col-sm-12 col-md-6 col-lg-3">
                    <a class="navbar-brand small-font" href="#">START</a>
                </li>
                <li class="nav-item oddziałka-nawigacji col-sm-12 col-md-6 col-lg-3">
                    <a class="navbar-brand small-font" href="#">O NAS</a>
                </li>
                <li class="nav-item oddziałka-nawigacji col-sm-12 col-md-6 col-lg-3">
                    <a class="navbar-brand small-font" href="#">OFERTA</a>
                </li>
                <li class="nav-item oddziałka-nawigacji col-sm-12 col-md-6 col-lg-3">
                    <a class="navbar-brand small-font" href="#">REALIZACJE</a>
                </li>
                <li class="nav-item oddziałka-nawigacji col-sm-12 col-md-6 col-lg-3">
                    <a class="navbar-brand small-font" href="#">DOJAZD</a>
                </li>
                <li class="nav-item oddziałka-nawigacji2 col-sm-12 col-md-6 col-lg-3">
                    <a class="navbar-brand small-font" href="#">KONTAKT</a>
                </li>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <span class="navbar-toggler-icon"></span>
            </ul>
        </nav>
    </div>

    <div class="bg-zdj"></div>
    <div class="g">
        <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
               <div class="paczka">
                <img src="../zdj/2.jpg" class="zdjęcie">
                <div class="overlay">MEBLE KUCHENNE</div>
            </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="paczka">
                <img src="../zdj/6.jpg" class="zdjęcie">
                <div class="overlay">MEBLE KUCHENNE</div>
            </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="paczka">
                <img src="../zdj/5.webp" class="zdjęcie">
                <div class="overlay">MEBLE KUCHENNE</div>
            </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="paczka">
                <img src="../zdj/3.jpg" class="zdjęcie">
                <div class="overlay">MEBLE KUCHENNE</div>
            </div> 
            </div>
            </div>
        </div>
    </div>
    
            
            
        
    <br>
    <br>
    <div class="b c">
    <div class="container">
        <div class="row">
            
                    MEBLE KUCHENNE
                </div>
                <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ratione vel eos laboriosam!
                Temporibus, voluptas quidem error unde explicabo sed nesciunt, ipsa, incidunt eaque beatae minima
                nam impedit doloribus cum voluptatem? At earum sed mollitia natus quis qui accusantium? Adipisci
                repudiandae obcaecati nulla rerum sed labore blanditiis illum laborum cumque qui reprehenderit, at
                aspernatur chum eius architecto odio aliquam fuga. Quidem eius autem aperiam fugit maxime commodi,
                sunt, consequatur, ea fugiat voluptatum dignissimos illo perspiciatis repellat error explicabo ipsa
                tenetur! Quasi, eius repellendus est quibusdam accusamus ipsam qui magni deleniti repellat eos
                pariatur dolores. Et culpa tempora expedita eveniet. Repudiandae?
                </div>
                
            </div>
        </div>

    </div>
    <div class="b c">
        <p>
           REALIZACJE 
        </p>
        <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
            <img class="f" src="../zdj/2.jpg">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <img class="f" src="../zdj/3.jpg">
            </div>
            
            <div class="col-sm-12 col-md-6 col-lg-3">
            <img class="f" src="../zdj/5.webp">
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
            <img class="f" src="../zdj/6.jpg">
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
            <img class="f" src="../zdj/bg.png">  
            </div>
        </div>
    </div>
    </div>
    




    <div>
        <nav class="navbar navbar-expand-lg navbar-dark h">
            <ul class="navbar-nav nawigacja">
                <li class="nav-item oddziałka-nawigacji col-sm-12 col-md-6 col-lg-3">
                    <a class="navbar-brand small-font" href="#">START</a>
                </li>
                <li class="nav-item oddziałka-nawigacji col-sm-12 col-md-6 col-lg-3">
                    <a class="navbar-brand small-font" href="#">O NAS</a>
                </li>
                <li class="nav-item oddziałka-nawigacji col-sm-12 col-md-6 col-lg-3">
                    <a class="navbar-brand small-font" href="#">OFERTA</a>
                </li>
                <li class="nav-item oddziałka-nawigacji col-sm-12 col-md-6 col-lg-3">
                    <a class="navbar-brand small-font" href="#">REALIZACJE</a>
                </li>
                <li class="nav-item oddziałka-nawigacji col-sm-12 col-md-6 col-lg-3">
                    <a class="navbar-brand small-font" href="#">DOJAZD</a>
                </li>
                <li class="nav-item oddziałka-nawigacji2 col-sm-12 col-md-6 col-lg-3">
                    <a class="navbar-brand small-font" href="#">KONTAKT</a>
                </li>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <span class="navbar-toggler-icon"></span>
            </ul>
        </nav>
    </div>















    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>

</html>